<h3>
    About website ini
</h3>

<div class="card">
    <div class="card-body">
        <h6 class="card-text">Website Ini Terinspirai Oleh
            <p class="text-muted">WPU</p>
        </h6>
    </div>
</div>