<div style="height:100vh" class="d-flex justify-content-center align-items-center">
    <h1>404 I Forbidden</h1>
</div>

<style>
    body {
        background-color: #eeeeee;

    }

    h1::selection {
        background-color: #86c1f1;
    }
</style>