<div class="mb-3">
    <article class="mt-3">
        <% posts.forEach(post=> { %>
            <h2>
                <a href="/posts/<%=post.slug%>" class="text-decoration-none">
                    <%= post.title %>
                </a>
            </h2>
            <h3>
                <%= post.author %>
            </h3>
            <p>
                <%= post.body %>
            </p>
            <% }) %>
    </article>
</div>