<div class="mb-3">
    <article class="mt-3">
        <h2>
            <%= posts.title %>
                </h1>
                <h3>
                    <%= posts.author %>
                </h3>
                <p>
                    <%= posts.body %>
                </p>
    </article>
    <hr>
    <a href="/posts" class="text-decoration-none">Back To Posts</a>
</div>